html,body{word-wrap: break-word;
margin:0 auto;padding:0;font-size:16px;font-family:Arial,Helvetica, sans-serif;}
header, nav, section, footer, menu {display:block;}
h1,h2,h3,h4,h5,h6{font-weight:bold;padding: 0;margin: 0; font-size: 16px;} 

.cena {
	position: relative;
	overflow: hidden;
	display: block;  
	height: 100%; 
	color: #3A87AD; 
	margin:1px;
	font-size:1.5em;
        text-align:center

}


.da {
	position: relative;
	overflow: hidden;
	display: block;  
	height: 100%; 
	border-style: solid; 
	border-width: 1px; 
	border-color: #A0A0A0; 
	margin:1px;
}


a.an{font-size: 1em;}
.d1{font-size: 1.0em;}

@media (min-width: 768px) {
 a.an{font-size: 1.2em;}
  .d1{font-size: 1.0em;}
}


@media (min-width: 481px) and (max-width: 767px) {
 a.an{font-size: 0.7em;}
}


@media (min-width: 421px) and (max-width: 480px) {
 a.an{font-size: 0.65em;}
}

@media (max-width: 420px) {
 a.an{font-size: 0.62em;}
}

@media (max-width: 380px) {
 a.an{font-size: 0.6em;}
}


@media (max-width: 370px) {
 a.an{font-size: 0.58em;}
}

@media (max-width: 360px) {
 a.an{font-size: 0.57em;}
}

@media (max-width: 320px) {
 a.an{font-size: 0.5em;}
}


a.an{
/*	font-size: 1.5em;*/
	text-decoration:none;
	text-align: center;
}


a.hw{
/*	color: #FFFFFF;*/
	text-decoration:none;
}

div.dpc {
/*	background-color: #5281b9;*/
	font-size: 18px;
        font-weight:bold;
	color: #000000;
/*	color: #FFFFFF;
	padding: 2px 2px 2px 2px;*/
}

.pad2 {
	padding: 2px 2px 2px 2px;
}

.bp5 {
	padding: 0px 0px 1.1em 0px;
}


.w100{
        width:100%;
        max-width:768px;
        margin: 0 auto 1px; /* Выравнивание по центру */
/*	overflow: hidden; */
}

.w100h{
        width:100%;
	height:25%;
        max-width:768px;
        max-height:25%;
	overflow: hidden;
}


.w100 img{
	width:100%;
	max-width:768px;/*480*/
	}


img{	vertical-align:middle;}
ul{	list-style-type:none; padding: 0;margin: 0;}

div.img {display: inline-block;}
           
.dw {
	float:left;
        width:100%;
}

.dl {
	margin-right: 70px;        
/*	background:#118539;*/
	height:300px;
}

			
.dr {
	float:left;
	width:60px;
	margin-left:-60px; 
/*	background:#FF8539;*/
}


.ta{
	width: 100%;
}

.w70{
	width: 768px;
}


.r{
	color: #FF0000;
}

/*.bl{
	color: #0000FF;
}*/


.an{
	float: none; 
}



.bl{
	float:left;
	width:87px;
/*	width:99%; */
	height:2.2em;
        font-size:0.8em;
}

.bl33{
	float:left;
	width:95%; 
	height:2.5em;
        font-size:0.8em;
}

.br{
	float:right;
	width:100px;
/*	width:99%; */
	height:2.2em;
        font-size:0.8em;
/*	background-color: #F9F9F9;*/
}

.br33{
	float:right;
	width:95%; 
	height:2.5em;
        font-size:0.8em;
}


.bc{
	float:left;
	width:95%;
/*	width:120px;*/
	height:2.2em;
        font-size:0.8em;
}

.bc33{
	float:left;
	width:99%;
	height:2.5em;
        font-size:0.8em;
}




.blt{
	float:left;
	width:95%;
	height:2.5em;
/*	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	background-color: #F9F9F9;*/
}






.brt{
	width:95%;
	height:2.5em;
	float:right;
/*	background-color: #F9F9F9;*/
}

.bc2{
	width:7em;
	height:2.0em;
/*	float:right;*/
        margin: 0 auto 1px; /* Выравнивание по центру */
/*	background-color: #FF0000;*/
	background-color: #00A046;  
        color: #FFFFFF;
}

.bc100{
	width:100%;
	height:2.0em;
        margin: 0 auto 1px; 
	background-color: #00A046;  
        color: #FFFFFF;
}

.bc3{
	width:7em;
	height:1.8em;
        margin: 0 auto 1px; /* Выравнивание по центру */
/*	background-color: #FFCCCC;*/
}

#cont {
    width: 768px; /* Ширина слоя */
    max-width: 100%;
    margin: 0 auto 1px; /* Выравнивание по центру */
/*    margin-bottom:2em;*/
    margin-top:2.5em;
   }

#footer {
    position: fixed; /* Фиксированное положение */
/*    left: 0; bottom: 0; /* Левый нижний угол    bottom  */
    left: 0; top: 0; /* Левый нижний угол    bottom  */
    height:2.1em;
    width: 100%; /* Ширина слоя */
   }

#footer2 {
  margin: 0 auto 1px; 
    background: #39b54a;
    width: 768px; /* Ширина слоя */
    height:2.1em;
    max-width: 100%;
   }



.bp{
	width:100%;
        height:3em;
        margin: 0 auto 1px; /* Выравнивание по центру 	 */
/*	background-color: #FF9866;*/
/*	background-color: #39b54a;*/
	background-color: #FF4747;
	font-size:0.7em;
        font-weight:bold;
	color:#ffffff;
}

.bp2{
	width:100%;
        height:3em;
        margin: 0 auto 1px; /* Выравнивание по центру 	 */
/*	background-color: #FF9866;*/
/*	background-color: #39b54a;*/
	background-color: #FF9A00;
	font-size:0.7em;
        font-weight:bold;
	color:#ffffff;
}


.b1{
	float:left;
        width:25%;
        height:2em;
        position:relative;
	overflow: hidden;
	font-size: 1em;
}

.b2{
	float:left;
        width:25%;
        height:2em;
        position:relative;
	overflow: hidden;
	font-size: 1em;
}



.b1 button{
  color:#ffffff;
      }

.b2 button{
  color:#000;
}



/*
button {
    background-color: #FF0000;
    color: #FFFFFF;
}
*/



.ix {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	outline: 1px solid #CCCCCC;
}
.ix img {
	width: 100%;
/*	margin-top: -0.5%;*/
	margin-bottom: -12.5%;
}


.h100{
        height:100%;
        max-height:1080px;

}

.w100m{
        width:100%;
        height:100%;
	padding:1px;
}

p{
	padding:0px;
	margin:0;
}
.w100b{
        height:100%;
	box-shadow: 1px 1px 1px 1px red;
}

.w100w{
        width:100%;
        max-width:768px;
        margin: 0 auto 1px; /* Выравнивание по центру */
}

.w95{
        clear:both;
        width:98%;
	margin-left:0.5%;
        max-width:768px;
	overflow: hidden;
}

.w99{
        clear:both;
        width:99.5%;
        max-width:768px;
	overflow: hidden;
}



.al{
    margin: 0 0 0 auto;
    text-align: right;
}

.w3{
	float:left;
        width:2.25em;
	margin-left:0.5%;
        max-width:768px;
	overflow: hidden;
	font-size:1.3em;
}

.w10{
	float:left;
        width:10.0%;
        max-width:768px;
        position:relative;
	overflow:hidden;
  	margin-top: 5px !important;
  	margin-bottom: 5px !important;
  	margin-left: 10px !important;
}

.w20{
	float:left;
        width:20.0%;
        max-width:768px;
        position:relative;
	overflow:hidden;
  	margin-top: 5px !important;

}

.w30{
	float:left;
        width:30%;
        max-width:768px;
        position:relative;

}

.w33{
	float:left;
        width:33.3333%;
        max-width:768px;
        position:relative;
}

.w29{
	float:left;
        width:29.50%;
        max-width:768px;
        position:relative;
}


.ri{    align:right; 
        width:100%;
}

.w40{
	float:left;
        width:40%;
        max-width:768px;
        position:relative;
}

.w50{
	float:left;
        width:50%;
        max-width:768px;
        position:relative;
	overflow: hidden;
}

.m10{
	margin: 0px 0px 0.5em 0px;
}


.w33a{
	float:left;
        width:33.3333%;
        max-width:95px;
        position:relative;
	overflow: hidden;
}
.w60{
	float:left;
        width:60.0%;
        max-width:768px;
        position:relative;
	overflow: hidden;
	display:flex;
	  align-items: center;
	vertical-align: middle;
    flex: 1;
}


.w33l{
	float:left;
        width:33.3333%;
        max-width:768px;
        position:relative;
	overflow: hidden;
}


.pc{
	float:left;
        width:3.5em;
	overflow: hidden;
        margin-right:1px;

    display: table-cell;
    vertical-align: middle

}



.al{
	float:right;
	display: block;  
	margin: 0 10px 0 0;
	font-size:1.2em;
}

.ar{
	float:left;
	display: block;  
	font-size:1.2em;
}


.dc{
        width:8em;
        margin-left: auto;
        margin-right: auto;
}

.w33c{
        width:33.3333%;
	overflow: hidden;
/*	background-color: #555555;*/
	margin-left:-100px;
}

.m2
{
	margin: 2px 2px 2px 2px; 
}

.c1
{
	background-color: #F5F5F5;
}


.d1{	
	width:100%;
	float:left;
	max-width:768px;
}


.d1b{
	display:block; 
	width:100%;
	float:left;
	max-width:768px;
}

.l92{
	float:left;
	width:30%;
}

.l20{
	float:left;
	width:20%;
}
.l10{
	float:left;
	width:10%;
}

.l80{
	display:block; 
	float:left;
	width:80%;
}


.l92_2{
	float:left;
	width:100%;
/*	width:960px;*/
}

.wh89{
	width:89px;
/*	height:89px;*/
}

.wh89_2{
	width:360px;
	height:100%;
        max-height:100%;
}


.l120{
	float:left;
	width:120px;
	padding-right:5px;
}

.w120_90{
	width:120px;
	height:90px;
}


.r70{
	display:block; 
	width:70%;
	float:left;
}

.r100{
	display:block; 
	width:100%;
	float:left;
}



.r60{	
	padding-top:10px;
	display:block; 
/*	width:77%;
	float:left;*/
}


/* лемч */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 768px;
  margin: 0 auto;
}


.header {
  height: 25px;
  position: relative;
/*  margin: 1px;*/
}
.nav {
  width: 100%;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
}
.nav__item {
  display: block;
  height: 56px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
/*  text-transform: uppercase;*/
  text-decoration: none;
  background-color: #4583d8;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.nav__item:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.nav__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__item:last-of-type {
  box-shadow: inset 0 -5px 10px -5px rgba(0, 0, 0, 0.4);
}
.nav__item:hover {
  background-color: #2768c1;
}
.nav__item:active {
  background-color: #2768c1;
  color: #fff;
}
.nav-m {
  display: block;
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  background: url("../img/./icon-menu.svg") no-repeat;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1;
}

.kolvo {
    margin-left:1px; 
    margin-right:1px;
    width: 4em;
}

.nav-m_cb {
  display: none;
}
.nav-m_cb:checked + .nav-m {
  background-image: url(".././img/icon-cross.svg");
}
.nav-m_cb:checked ~ .nav {
  display: block;
}


hr {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  border-width: 1px;
}

p{
  margin:5px;
}

.btnTest{
   background: #FF4747  url('.././img/k2.svg') no-repeat left center;
   padding-left:20px;
} 
.btnTest2{
   background: #FF9A00  url('.././img/icon-cross.svg') no-repeat left center;
   padding-left:20px;
} 