html,body{word-wrap: break-word;
margin:0 auto;padding:0;font-size:16px;font-family:Arial,Helvetica, sans-serif;}
header, nav, section, footer, menu {display:block;}
h1,h2,h3,h4,h5,h6{font-weight:bold;padding: 0;margin: 0; font-size: 16px;} 

a.hw{
	color: #FFFFFF;
	text-decoration:none;
}

div.dpc {
	background-color: #5281b9;
	font-size: 18px;
        font-weight:bold;
	color: #FFFFFF;
	padding: 2px 2px 2px 2px;
}

.w100{
        width:100%;
        max-width:480px;
	overflow: hidden;
}

.w100h{
        width:100%;
	height:25%;
        max-width:480px;
        max-height:25%;
	overflow: hidden;
}


.w100 img{
	width:100%;
	max-width:480px;
	}


img{	vertical-align:middle;}
ul{	list-style-type:none; padding: 0;margin: 0;}

div.img {display: inline-block;}
           
.dw {
	float:left;
        width:100%;
}

.dl {
	margin-right: 70px;        
/*	background:#118539;*/
	height:300px;
}

			
.dr {
	float:left;
	left;width:60px;
	margin-left:-60px; 
/*	background:#FF8539;*/
}


.ta{
	width: 100%;
}

.w70{
	width: 360px;
}

.w30{
	width: 30px;
	height: 50px;
}

.r{
	color: #FF0000;
}

.al{
	float: left;
/*     background: dodgerblue;*/
}

.an{
	float: none; 
}


.bl{
	float:left;
	width:100px;
	height:2.5em;
/*	margin: 2px 2px 2px 2px;*/
/*	background-color: #F9F9F9;*/
}

.br{
	width:100px;
	height:2.5em;
	float:right;
/*	background-color: #F9F9F9;*/
}


.bc{
	width:90%;
	height:2.5em;	
	margin-left:5%;
	margin-right:5%;
/*	background-color: #F9F9F9;*/
}




.ix {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	outline: 1px solid #CCCCCC;
}
.ix img {
	width: 100%;
	margin-top: -12.5%;
	margin-bottom: -12.5%;
}





.h100{
        height:100%;
        max-height:2080px;
}

.w100m{
        width:100%;
        height:100%;
/*        margin:5px;*/
	padding:1px;
}

p{
	padding:0px;
	margin:0;
}
.w100b{
        height:100%;
/*        max-height:2080px;*/
/*        border: 1px solid rgba(250, 25, 25, 1);*/
/*        margin:2px;*/
/*	padding:1px;*/
/*	background-color: #0081b9; */
/*	outline: 5px solid #000; */
 box-shadow: 1px 1px 1px 1px red;

}


.w100w{
        width:100%;
        max-width:480px;
}

.w95{
        clear:both;
        width:98%;
	margin-left:0.5%;
        max-width:480px;
	overflow: hidden;
}

.w33{
	float:left;
        width:33.3333%;
        max-width:360px;
        position:relative;
	overflow: hidden;
}

.w33a{
	float:left;
        width:33.3333%;
        max-width:95px;
        position:relative;
	overflow: hidden;
}
.w60{
	float:left;
        width:60.0%;
        max-width:360px;
        position:relative;
	overflow: hidden;
	display:flex;
	  align-items: center;
	vertical-align: middle;
    flex: 1;
}



.w33c{
        width:33.3333%;
	overflow: hidden;
/*	background-color: #555555;*/
	margin-left:-100px;
}

.m2
{
	margin: 2px 2px 2px 2px; 
}

.c1
{
	background-color: #F5F5F5;
}


.d1{	
	width:100%;
	float:left;
	max-width:480px;
}


.d1b{
	display:block; 
	width:100%;
	float:left;
	max-width:480px;
}

.l92{
	float:left;
	width:92px;
}

.wh89{
	width:89px;
	height:89px;
}




.l120{
	float:left;
	width:120px;
	padding-right:5px;
}

.w120_90{
	width:120px;
	height:90px;
}


.r70{
	display:block; 
	width:70%;
	float:left;
}

.r60{	
	padding-top:10px;
	display:block; 
/*	width:77%;
	float:left;*/
}


/* лемч */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  max-width: 480px;
  margin: 0 auto;
}


.header {
  height: 25px;
  position: relative;
  margin: 3px;
}
.nav {
  width: 100%;
  box-shadow: inset 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
}
.nav__item {
  display: block;
  height: 56px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  line-height: 56px;
  text-align: center;
/*  text-transform: uppercase;*/
  text-decoration: none;
  background-color: #4583d8;
  transition: background-color 0.1s linear, color 0.1s linear;
}
.nav__item:not(:first-of-type) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.nav__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__item:last-of-type {
  box-shadow: inset 0 -5px 10px -5px rgba(0, 0, 0, 0.4);
}
.nav__item:hover {
  background-color: #2768c1;
}
.nav__item:active {
  background-color: #2768c1;
  color: #fff;
}
.nav-m {
  display: block;
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  font-size: 0;
  background: url("../img/./icon-menu.svg") no-repeat;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1;
}
.nav-m_cb {
  display: none;
}
.nav-m_cb:checked + .nav-m {
  background-image: url(".././img/icon-cross.svg");
}
.nav-m_cb:checked ~ .nav {
  display: block;
}